.container-notif {
  height: 30px;
  background-color: #dae8fc;
  /* Warna latar biru pucat sesuai gambar */
  text-align: center;
  font-size: 8pt;
  color: #333;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  /* Shadow lembut */
  border-radius: 10px;
  /* Membuat sudut membulat */
  transition: box-shadow 0.3s ease;
  /* Efek transisi halus */
}

.container-notif:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
  /* Shadow saat hover */
}

.header-menu:after {
  content: "";
  display: block;
  width: 100%;
  /* Panjang garis (sesuaikan) */
  height: 1px;
  /* Ketebalan garis */
  background-color: #696cff;
  /* Warna garis */
}

.header-menu:before {
  content: "";
  display: block;
  width: 100%;
  /* Panjang garis (sesuaikan) */
  height: 1px;
  /* Ketebalan garis */
  background-color: #696cff;
  /* Warna garis */
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background-color: #f1f1f1;
  padding: 10px;
}

.main-chat {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-list ul {
  list-style-type: none;
  padding: 0;
}

.chat-list li {
  padding: 10px;
  cursor: pointer;
}

.chat-list li:hover {
  background-color: #ddd;
}

.chat-window {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message {
  margin-bottom: 10px;
}

.message.sent {
  text-align: right;
}

.message.received {
  text-align: left;
}

.message-input {
  display: flex;
  padding: 10px;
  background-color: #eee;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
}

.message-input button {
  padding: 10px;
}

.navbar-brand>.logo {
  width: 50px;
}